.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px; /* Adjust the gap between grid items */
    width: 600px; /* Set the width of the grid container */
    padding-top:12px;
    height: 300px;
    margin: 0 auto; /* Center the grid horizontally */
  }

.grid-item {
    background-color: #f7f7f7;
    /* background-image: url("Pond.jpg"); */
    background-repeat: no-repeat;
    padding: 10px;
    border:10px solid rgb(230, 228, 228);
    text-align: center;
    transition: background-color 0.7s;
    height:80px;
}

.grid-item:hover{
    background-color: #dadada;
}

.grid-item:hover .hidden-text{
    display:block;
}

.hidden-text{
    display:none;
}

.grid-item:hover h2{
    display:none;
}

h2{
    display:block;
}

.grid-item:hover img{
    display:none;
}

img{
    display:block;
    height:80px;
    width:240px;
}

.wordle-background {
    background-image: url('Wordle.png');
}

.wordle-background:hover{
    background-image: None;
}

.grid-item1 {
    background-color: #f7f7f7;
    /* background-image: url("Wordle.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px;
    border:10px solid rgb(230, 228, 228);
    text-align: center;
    transition: background-color 0.7s;
    height:80px;
}

.grid-item1:hover .hidden-text{
    display:block;
}

.grid-item1:hover h2{
    display:none;
}

.grid-item1:hover{
    background-color: #dadada;
}