.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    width: 600px;
    padding-top: 12px;
    height: 300px;
    margin: 0 auto;
}

.grid-item::before, .grid-item1::before {
    transition: opacity 0.3s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54, 54, 54, 0.27); /* White overlay with 70% opacity */
    z-index: 1;
}

.grid-item:hover::before, .grid-item1:hover::before {
    opacity: 0;
}

.grid-item, .grid-item1 {
    background-color: #f7f7f7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    border: 10px solid rgb(230, 228, 228);
    text-align: center;
    transition: all 0.7s;
    height: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-item h2, .grid-item1 h2 {
    color: white;
    z-index: 1;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.25rem;
}

.hidden-text {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dadada;
    align-items: center;
    justify-content: center;
    padding: 10px;
    overflow: auto;
}

.grid-item:hover h2,
.grid-item1:hover h2 {
    opacity: 0;
}

.grid-item:hover .hidden-text,
.grid-item1:hover .hidden-text {
    display: flex;
}

#nintendo-aloha { background-image: url('Project Images/nintendo\ teleoperation.jpeg'); }
#knights-of-papers { background-image: url('Project Images/Knights of Papers Duel.png'); }
#kde { background-image: url('Project Images/point clouds.png'); }
#intelligib { background-image: url('Project Images/3d signal processing.png'); }
#gan-engine { background-image: url('Project Images/Gradient.png'); }
#move-polymarket { background-image: url('Project Images/suipoly.jpg'); }
#wordle { background-image: url('Project Images/Wordle.png'); }
